{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
            <form id="loginForm" method="post" class="needs-validation" novalidate>
                <h3 class="block-center-heading">Cloud Scheduler OAuth</h3>
                {% csrf_token %}

                <p>{% trans "Please enter your credentials and continue" %}</p>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" autofocus="" required>
                    <div class="invalid-feedback">
                        Please enter username.
                    </div>
                </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password_encrypt" hidden>
                    <input type="password" class="form-control" id="password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please enter password.
                    </div>
                </div>
                <div class="{% if error %}form-group {% else %}control-group {% endif %}">
                    <div class="controls">
                        <button type="reset" class="btn btn-large btn-danger">Clear</button>
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Login"/>
                    </div>
                </div>
                {% if error %}
                <div class="control-group">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </div>
                {% endif %}
            </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = $('.needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
          $('#password').bind('input propertychange', function(event){
              $('#password_encrypt').val(md5($('#password').val()));
          });
        })();
    </script>
{% endblock %}
